# boucle for en python

In [1]:
# boucle sur les listes
liste = ['sylla', 'ibrahim','clement']
for val in liste:
    print(val)

sylla
ibrahim
clement

In [3]:
numbers = [1,2,3,4,5,6,7,8,9]
for  num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9

In [4]:
# sur les string
s = "sylla"
for i in s:
    print(i)

s
y
l
l
a

In [11]:
# Avec les tuples

couleur = ('bleu','jaune','gris')
for c in couleur:
    print(c)

bleu
jaune
gris

In [ ]:
# avec les ensemble
emb ={'sylla','ibraim','clement'}
for en in emb :
    print(en)

In [12]:
# Avec les dictionaire
episodes = {
'Episode 1': 'The Phantom Menace',
'Episode 2': 'Attack of the Clones',
'Episode 3': 'Revenge of the Sith',
'Episode 4': 'A New Hope',
'Episode 5': 'The Empire Strikes Back',
'Episode 6': 'Return of the Jedi'
}
for ep in episodes:
    print(ep)

Episode 1
Episode 2
Episode 3
Episode 4
Episode 5
Episode 6

In [15]:
# Afficher cle et valeur
for item in episodes.items():
        print(item)

('Episode 1', 'The Phantom Menace')
('Episode 2', 'Attack of the Clones')
('Episode 3', 'Revenge of the Sith')
('Episode 4', 'A New Hope')
('Episode 5', 'The Empire Strikes Back')
('Episode 6', 'Return of the Jedi')

In [16]:
for key,value in episodes.items():
    print(key +' : '+ value)

Episode 1 : The Phantom Menace
Episode 2 : Attack of the Clones
Episode 3 : Revenge of the Sith
Episode 4 : A New Hope
Episode 5 : The Empire Strikes Back
Episode 6 : Return of the Jedi

In [22]:
#Afficher avec les enum
name = ['Sylla','Ibrahim','Clement']
name_ = enumerate(name)
for item in name_:
    print(item)

(0, 'Sylla')
(1, 'Ibrahim')
(2, 'Clement')

In [24]:
# 
name = ['Sylla','Ibrahim','Clement']
name_ = enumerate(name)
for indx, nam in name_:
    print(str(indx)+ ' - ' + nam)

0 - Sylla
1 - Ibrahim
2 - Clement

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
for i in range(0,5,2):
    print(i)

0
2
4

In [8]:
s1 = ['sylla','ibrahim','clement']
n = [1,2,3]
for l in s1:
    for nu in n:
        print(l,nu)

sylla 1
sylla 2
sylla 3
ibrahim 1
ibrahim 2
ibrahim 3
clement 1
clement 2
clement 3

In [31]:
pairs = [(i, j) for i in n for j in s1]
pairs

[(1, 'sylla'),
 (1, 'ibrahim'),
 (1, 'clement'),
 (2, 'sylla'),
 (2, 'ibrahim'),
 (2, 'clement'),
 (3, 'sylla'),
 (3, 'ibrahim'),
 (3, 'clement')]

In [10]:
# for loop avec else
for i in range(0,10,2):
    if i%2==0:
        print(i)

0
2
4
6
8

In [27]:
l = [n for n in range(10) if n%2!=0]

In [28]:
l

[1, 3, 5, 7, 9]