# Tuple en python

In [31]:
new_tuple = (23,1,2,'Sylla')
print(type(new_tuple), new_tuple)

<class 'tuple'> (23, 1, 2, 'Sylla')

In [3]:
#  Tuple  vide
new_tuple= ()

In [29]:
# Une autre facon de declarer une tuple 
new_tuple = 1,12,23,'sylla'
print(new_tuple)

(1, 12, 23, 'sylla')

In [30]:
#Modification d'un tuple
# cela n'est pas possible 

new_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [10]:
#Methode sur les tuple
new_tupp = (1, 2, 3, 1, 3, 4, 1)

In [11]:
# count le number de b1 dans le tuple 
new_tupp.count(1)

3

In [12]:
#afficher la valeur de l'index
new_tupp.index(2)

1

In [20]:
# On peux melanger les avec plusieur donnees
tuple_ = (1,2,5.2,'Sylla',(4,7,8,8,5))

In [34]:
tuple_[0]

1

In [22]:
tuple_[3]

'Sylla'

In [23]:
tuple_[4]

(4, 7, 8, 8, 5)

In [41]:
tuple_[4][0]

4

In [35]:
# on peux changer les valeur de la liste dans le tuple 
new_tup = (1, 2, 3, [4, 5], 6)
new_tup[3][1] = 15
print(new_tup)

(1, 2, 3, [4, 15], 6)

In [38]:
del new_tup[3][1]

In [39]:
print(new_tup)

(1, 2, 3, [4], 6)